body{
    background: #f85032;
    background: -moz-linear-gradient(top, #f85032 0%, #f6290c 0%, #f16f5c 50%, #e73827 100%);
    background: -webkit-linear-gradient(top, #f85032 0%,#f6290c 0%,#f16f5c 50%,#e73827 100%);
    background: linear-gradient(to bottom, #f85032 0%,#f6290c 0%,#f16f5c 50%,#e73827 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 );
}

.banner{
    height: 15%;
    padding: 20px;
    background:transparent;
}

.banner img{
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right:auto;
    display:block;
}

#turn-table{
    background:transparent;
    width: 100%;
    max-width: 600px;
    position: relative;
    margin: 10px auto;
}
#turn-table canvas{
    width:100%;
    position: absolute;
}
#turn-table-canvas{
    z-index: 0;
}
#turn-table-animation-canvas{
    z-index: 1;
}

/* .turn-table::before{
    content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
 */

.footer{
    height: 2em;
    background:rgba(255,255,255,0.5);
    margin-top: 40px;
    margin-bottom: 40px;
}


.turn-table-img-group{
    position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.turn-table-img-group img{
    position: absolute;
    width:100%;
    height: auto;
    max-height: 100%;
}
